$def with (form, user)
<!DOCTYPE HTML>
<html>
  <head>
    <title>Labrest</title>
    <link rel="stylesheet" type="text/css" href="static/LabrestClient.css">
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/LabrestClient.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="rightcol">
	<form name="loginbox" id="loginbox"  size=auto style="display: none;">
	  <h4> Авторизация </h4><br>
	  $:form.username.render()
	  $:form.authdata.render()
	  <p align="right" ><input id="login_button" type="submit" value="Вход"  size = "15"  /></p>
	  <p font-size="2" align="center">Для резервирования ресурсов необходима авторизация.</p>
	</form>
	<form name="Userbox" id="Userbox" size=auto style="display: none;">
	  <h4> Информация </h4><br>
	  <div id="user">Логин: $user["name"] </div><br>
	  <div id="group"> $user["group"] </div>
	  <p align="right" ><input id="exit_button" type="submit" value="Выход"  size = "15" /></p>
	</form>
      </div>
      <div id="leftcol">
	<H4> Доступные ресурсы </H4>
      </div>
    </div>
  </body>
</html>
