 #container {
    width: auto; /* Ширина макета */
    margin: 0 auto; /* Выравниваем макет по центру */
    margin-left: -.4em;
    margin-top: -.4em;
    margin-right: -.4em;
}
#leftcol {
    margin-right: 270px; /* Отступ справа */  
    background: #fafafa;  
    padding: 10px;
    margin-top: 0;
} 
#rightcol { 
    float: right; /* Обтекание по левому краю */ 
    width: 250px; /* Ширина правой колонки */
    background: #afcfdf; 
    padding: 10px;
    margin-top: 0;
}

body {
    background: #fafafa;
}
p {
   font-size: .8em;
}
h4 {
     font-size: 1.3em;
     font-weight: bold;
     margin: 0;
     padding: 10px .25em;
     border-bottom: 3px solid silver;
}

div {margin-top: 7px;}
